ErrorDocument 500 http://localhost/nerdtech/_500

RewriteEngine On

# Forward requests with below pattern to public/index.php
RewriteRule ^(app(/.*)?|\..*|(readme.md)(.*)?)$ index.php?url=$1&code=403 [L,QSA]

# If the requested FILE doesn't exists execute below RewriteRule
RewriteCond %{REQUEST_FILENAME} !-f
# If the requested DIRECTORY doesn't exists execute below RewriteRule
RewriteCond %{REQUEST_FILENAME} !-d
# Forward requests with below pattern to public/index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
