.ji-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.none_lg {
    display: none;
}

.pointer {
    cursor: pointer;
}

.disc {
    max-height: 7rem;
    overflow: hidden;
    transition: max-height .7s ease-in-out;
}

.disc2 {
    max-height: 50rem;
    overflow-x: scroll;
    transition: max-height .7s ease-in-out;
}


.see_more {
    font-size: 12px;
    cursor: pointer;
    color: #1A161B;
    text-decoration: underline;
}

.disc1 {
    max-height: 67px;
    overflow: hidden;
    transition: max-height .7s ease-in-out;
}

.disc3 {
    max-height: 400px;
    overflow-y: scroll;
    transition: max-height .7s ease-in-out;
}

#editor {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    font-size: 1rem;
}

.ql-formats {
    display: none !important;
}

.ql-toolbar {
    padding: 0 !important;
    border-bottom: none !important;
}

/* .ql-snow {
    border: none !important;
} */

@media (max-width: 700px) {
    .flex_lg {
        display: none;
    }

    .none_lg {
        display: block;
    }

}